@font-face {
	font-family: "MyMontserrat";
	src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
	src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
			format("truetype"),
		url("assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
			format("truetype");
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "MyMontserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

:root {
	/* Couleur de base utilisé */
	--primary-color: #054585;
	--secondary-color: #0472c9;

	/* Variante de couleur */
	--crealine-color: #d04873;
	--hydrabio-color: #53c2d1;
	--sebium-color: #8db825;

	/* Taille de la tuile */
	--compact-tile-size: 400px;
	--list-tile-size: 600px;
}
