@font-face {
	font-family: "MyMontserrat";
	src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
	src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
			format("truetype"),
		url("assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
			format("truetype");
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "MyMontserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

:root {
	/* Couleur de base utilisé */
	--primary-color: #054585;
	--secondary-color: #0472c9;
	
	/* Variante de couleur */
	--crealine-color: #d04873;
	--hydrabio-color: #53c2d1;
	--sebium-color: #8db825;
	
	/* Taille de la tuile */
	--compact-tile-size: 400px;
	--list-tile-size: 600px;
}

main {
	width: 90%;
	margin: auto;
}

.btn {
	padding: 12px 16px;
	background-color: #f1f1f1;
	cursor: pointer;
	svg {
		color: var(--primary-color);
		width: 20px;
		height: 20px;
	}
}

.btn:hover {
	background-color: #ddd;
}

.btn.active {
	background-color: var(--primary-color);
	svg {
		color: white;
	}
}

.product-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: calc(var(--compact-tile-size) * 4 + 20px * 3);
	min-width: calc(var(--compact-tile-size) * 3 + 20px * 2);
	margin: 10px 0;
}

.product-tile {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
    width: var(--compact-tile-size);
	color: var(--primary-color);
}

.image-container {
	width: var(--compact-tile-size);
	height: var(--compact-tile-size);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgb(248, 248, 248);

	img {
		height: calc(var(--compact-tile-size) * 0.75);
		filter: drop-shadow(-4px 5px 4px #00000071);
	}
}

.list {
	flex-direction: column;

	.product-tile {
		flex-direction: row;
		width: var(--list-tile-size);

		.image-container {
			width: calc(var(--compact-tile-size) * 0.5);
			height: calc(var(--compact-tile-size) * 0.5);

			img {
				height: calc(var(--compact-tile-size) * 0.75 * 0.5);
			}
		}
	}

	.badge {
		position: initial;
		margin-bottom: 20px;
	}
}

.info-container {
	> * {
		margin-bottom: 5px;
	}
}

.badge {
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 10px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid grey;
	border-radius: 5px;
	background: white;
    display: inline-block;
}

.product-title {
	text-transform: uppercase;
	font-size: 15px;

	span,
	sub {
		font-weight: 700;
	}

	.product-name {
		color: var(--secondary-color);
	}
}

/* Variante selon marque */
.crealine {
	.badge {
		background-color: var(--crealine-color);
		border: 0;
		color: white;
	}
	.product-title {
		.product-name {
			color: var(--crealine-color);
		}
	}
}

.hydrabio {
	.badge {
		background-color: var(--primary-color);
		border: 0;
		color: white;
	}
	.product-title {
		.product-name {
			color: var(--hydrabio-color);
		}
	}
}

.sebium {
	.badge {
		background-color: var(--sebium-color);
		border: 0;
		color: white;
	}
	.product-title {
		.product-name {
			color: var(--sebium-color);
		}
	}
}

.rating {
	display: flex;
	gap: 10px;
	margin-bottom: 40px;
}

.stars {
	font-size: 30px;
	line-height: 1;
}

.reviews {
	font-size: 14px;
	align-self: end;
	line-height: 1.8;
	text-decoration: underline;
}

.price-number {
	font-weight: 700;
}

.basket {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	color: white;
	cursor: pointer;
	border-radius: 50%;
	background: var(--primary-color);
}

svg {
	display: block;
}
